
*{
    margin: 0;
    padding: 0;
}

.passport-caption{
    
    display: inline-flex;
    width: 1000px;
    height: 600px;
    
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.passport-text{
    display: inline-flex;
    flex-direction: column;
    width : 700px
}

.passport-banner{
    display: flex;
    flex-direction: row;
    
    background-color: rgb(240, 240, 240);
    color: black;
    margin-top : 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 150px;
    margin-bottom : 100px;

}

.passport-banner img{
    display : inline-block;
    width : 600px;
    height : 600px;
    border-radius: 20px;
    
}

.passport-caption h2{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.passport-caption p {
    font-size: 1rem;
}

#spaninoubli{
    color: orange;
}

.avis{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    

}



.banners{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.avis-banner{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 1200px;
    border-radius: 5px;
}

.avis-user{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100px;
    height: 150px;
    float: right;
    justify-content: space-around;
    
}

.avis-text{
    width: 900px;
    margin : 30px
}

.username{
    color: orange;
}

.userjob{
    font-style: italic;
}

.avis-user img{
    width: 75px;
    height: 75px;
    border-radius: 20px;
    margin: 5px;
}

.avis-user p{
    margin: 5px;
}


.avis h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left : 160px;
    font-weight: 50;
    font-size: 2rem;
    margin-top : 50px;
    margin-bottom: 50px;
}
.header {
    background-color: rgb(255, 255, 255);
    height: 80px;
}

.header h1 {
    padding-left: 20px;
    font-size: 30px;
    padding-top: 20px;
}

  .header nav ul li {
    float: left;
  }
  
  .header nav ul li a {
    color: black;
    padding: 30px;
    display: block;
    text-decoration: none;
    font-weight: 500;
  }

li {
    display: inline;
}

ul {
    float: right;
    padding-right: 30px;
}

.header nav ul li a:hover, .active {
  color: blueviolet;
}

.headerheader {
    display: flex;
    justify-content: space-between;
}

.herosection {
background-image: url("/assets/heroo.jpg");
background-position: center;
background-size: cover;
border-radius: 20px;
text-align: center;
height: 500px;
padding-top: 100px;
padding-left: 200px;
padding-right: 200px;
}

.herosection h2 {
    color: white;
    font-weight: 900;
    font-size: 80px;
    line-height: 0.2;
    padding-top: 40px;
    padding-bottom: 25px;
}

.herosection h4 {
    color: white;
    padding-top: 50px;
}

.photojapon {
    height: 500px;
    border-radius: 20px;
    width: 350px;
}

.deals {
    display: block;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    
}

.deals h1 {
    padding-bottom: 25px;
}

.divjapon {
    background-color: rgb(240, 240, 240);
    padding-top: 20px;
    width: 400px;
    height: 700px;
    text-align: center;
    margin-right: 20px;
}

.divcroatie {
    background-color: rgb(240, 240, 240);
    width: 400px;
    width: 400px;
    padding-top: 20px;
    height: 700px;
    text-align: center;
    margin-right: 20px;

}

.divbali {
    background-color: rgb(240, 240, 240);
    width: 400px;
    height: 700px;
    text-align: center;
    margin-right: 20px;
    padding-top: 20px;

}

.allthree {
    display: flex;
}

.allthree h2 {
    padding-top: 15px;
}